In [1]:
employee_data = ['Ali', 125000, 'Google', 5]
msg= employee_data[0]+" working in "+str(employee_data[2])+ " for "+str(employee_data[-1]) +" years and his salery is " +str(employee_data[1])

In [2]:
msg

'Ali working in Google for 5 years and his salery is 125000'

In [3]:
studentData = ['Ahmed', 'Bilal', 'Government College University', 'Computer Science"', '"BS', 50000,
				'28 Januray 2020', '05 February 2020']
msg="'Hello {} {}\nYour application is accepted for admission in {} {} in {}.\nYou have to submit fee {} before {}.\nYour classes will start from {}.\nThsnks' ".format(studentData[0],studentData[1],studentData[4],studentData[3],studentData[2],studentData[5],studentData[6],studentData[7])
print(msg)

'Hello Ahmed Bilal
Your application is accepted for admission in "BS Computer Science" in Government College University.
You have to submit fee 50000 before 28 Januray 2020.
Your classes will start from 05 February 2020.
Thsnks'

# #Positive slicing

In [4]:
cities = ["Faisalabad", "Lahore", "Islamabad", "Peshawar", "Quetta", "Sahiwal", "Rawalpindi", "Sialkot"]

In [5]:
cities[0:4]

['Faisalabad', 'Lahore', 'Islamabad', 'Peshawar']

In [6]:
cities[2:6]

['Islamabad', 'Peshawar', 'Quetta', 'Sahiwal']

In [9]:
cities[5:]

['Sahiwal', 'Rawalpindi', 'Sialkot']

# Nagtive slicing

In [10]:
cities[-4:-1]

['Quetta', 'Sahiwal', 'Rawalpindi']

In [11]:
cities[-5:]

['Peshawar', 'Quetta', 'Sahiwal', 'Rawalpindi', 'Sialkot']

# list update

# Appand

In [16]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [17]:
studentData.append("20 February 2019")
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019']

In [18]:
studentData.append(8)
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture', '20 February 2019', 8]

# insert

In [19]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [20]:
studentData.insert(4,25000)
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture']

In [21]:
studentData.insert(1,"M. Iqbal")
print(studentData)

['Ali Raza', 'M. Iqbal', 22, 91.24, 'Computer Science', 25000, 5, 'University of Agriculture']

# update list

In [22]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [23]:
studentData[0]= "Zohaib Ali"

In [24]:
studentData

['Zohaib Ali', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [25]:
studentData[4]=7

In [26]:
studentData

['Zohaib Ali', 22, 91.24, 'Computer Science', 7, 'University of Agriculture']

# Removing

In [27]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [28]:
studentData.remove("Computer Science")
print(studentData)

['Ali Raza', 22, 91.24, 5, 'University of Agriculture']

In [29]:
studentData.remove(91.24)
print(studentData)

['Ali Raza', 22, 5, 'University of Agriculture']

# Removing using poop mathod

In [30]:
studentData = ["Ali Raza", 22, 91.24, "Computer Science", 5, "University of Agriculture"]
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5, 'University of Agriculture']

In [31]:
studentData.pop()
print(studentData)

['Ali Raza', 22, 91.24, 'Computer Science', 5]

In [32]:
studentData.pop(3)
print(studentData)

['Ali Raza', 22, 91.24, 5]

# loop

In [33]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 44000, 'DBA']]

In [34]:
total_salary=0
for sublist in employeeData:
    if(sublist[1]>50000):
         print(sublist[0],"sallary is",sublist[1])
    total_salary+=sublist[1]

Talha sallary is 55000
Nasir sallary is 79000

In [36]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]

In [37]:
tot_salary = 0
for i in employeeData:
    tot_salary+=i[1]

In [38]:
tot_salary

213000

In [39]:
employeeData = [["Ali", 35000, "Software Engineer"],
				["Talha", 55000, "Product Manager"],
				["Nasir", 79000, "Computer Engineer"],
				["Khalid", 44000, "DBA"]]
print(employeeData)

[['Ali', 35000, 'Software Engineer'], ['Talha', 55000, 'Product Manager'], ['Nasir', 79000, 'Computer Engineer'], ['Khalid', 44000, 'DBA']]

In [40]:
employeeData[3][1]=50000

In [41]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 79000, 'Computer Engineer'],
 ['Khalid', 50000, 'DBA']]

In [42]:
employeeData[2][1]=90000
employeeData[2][2]="Product Manager"

In [43]:
employeeData

[['Ali', 35000, 'Software Engineer'],
 ['Talha', 55000, 'Product Manager'],
 ['Nasir', 90000, 'Product Manager'],
 ['Khalid', 50000, 'DBA']]

In [44]:
username = "faizan1214"
password = "qwerty"
emailVerified = True
if username=="faizan1214":
    if password=="qwerty":
        emailVerified == True
        print("Login Succeed")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Login Succeed

In [45]:
username = "faizan1214"
password = "qwerty"
emailVerified = False
if username=="faizan1214":
    if password=="qwerty":
        emailVerified == False
        print("Email not verified")
    else:
        print("Incorrect Login details")
else:
    print("Incorrect Login details")

Email not verified